In [ ]:
import pandas as pd

df = pd.read_csv(r'D:\python_main\training_env\parsers_project\projects\project_about_calories\data\block_0.csv', delimiter=';')
display(df.head())

,Продукт,Калорийность,Белки,Жиры,Углеводы
0,"Заменитель яйца, жидкий или замороженный, обез...",48.0,10.0,0.0,2.0
1,"Заменитель яйца, жидкий или замороженный, обез...",48.0,10.0,0.0,2.0
2,"Заменитель яйца, порошок",444.0,55.5,13.0,21.8
3,"Заменитель яйца, жидкий или замороженный, обез...",48.0,10.0,0.0,2.0
4,"Заменитель яйца, порошок",444.0,55.5,13.0,21.8

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Продукт       990 non-null    object
 1   Калорийность  990 non-null    float64
 2   Белки         990 non-null    float64
 3   Жиры          990 non-null    float64
 4   Углеводы      990 non-null    float64
dtypes: float64(4), object(1)
memory usage: 38.8+ KB